.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40px;
    float: left;
  }
  
  .App-header {
    background-color: grey;
    height: 40px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .title {
      align-items: center;
  }

  h2 {
      display: inline;
  }

  .addcustomer {
      display: inline;
      
  }