.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.tooth {
    height: 100px;
    width: 100px;
}

.br3 {
    border-radius: .5rem;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.upperleftlogo {
    width: 17%;
    height: 30%;
    float: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 5%;
    padding-bottom: 2.5%;
    text-align: center;
    background: white;
    margin-top: 1rem;
}