
.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
  }

  .br3 {
    border-radius: .5rem;
  }

  .ba {
    border-style: solid;
    border-width: 1px;
}

.upperleftlogo {
    width: 15%;
    height: 30%;
    float: left;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}




