.grid {
    display: flex;
    flex-wrap: wrap;
    width: 79%;
    
}

.col {
    width: 22%;
    margin-left:1.5%;
    margin-right:1.5%;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br3 {
    border-radius: .5rem;
}

.br-100 {
    border-radius: 100%;
}

.bw1 {
    border-width: .125rem;
}

.dib {
    display: inline-block;
}

.h3 {
    height: 4rem;
}

.lh-copy {
    line-height: 1.5;
}

.mw3 {
    max-width: 4rem;
}

.mw5 {
    max-width: 10rem;
    margin: 1%;
}

.w3 {
    width: 4rem;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.bg-white {
    background-color: #ffffff;
}

.pa3 {
    padding: 1rem;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f4 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 10em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}

/*=========================================*/
.viz img {
    display: none;
}

.viz:hover img {
    display: initial;
    
    -webkit-animation: slide-down .1s ease-out;
    -moz-animation: slide-down .1s ease-out;
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}


/*=========================================*/
.viz h5 {
    display: none;
}

.viz:hover h5 {
    display: initial;
    
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}


/*=========================================*/
.viz p {
    display: none;
}

.viz:hover p {
    display: initial;
    
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}

.viz p {
    display: none;
}
/*===================================*/

.colorsplit {
    background: white;
}

.colorsplit:hover {
    background: linear-gradient(to top, 
    white 60%, coral 40%);
    background: -o-linear-gradient(to bottom, 
    white 60%, coral 40%);
    background: -moz-linear-gradient(to bottom, 
    white 60%, coral 40%);
    background: -webkit-linear-gradient(to bottom
    white 60%, coral 40%);
    background: -ms-linear-gradient(to bottom, 
    white 60%, coral 40%);
}

