.background-div {
  background: #867EFF;
  width: 288px;
  height: 83px;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.profile-pic {
  border-radius: 50px;
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: -33px;
  left: 35%;
}