.cardBody {
  background: #FFFFFF;
  box-shadow: 0 2px 20px 4px rgba(239,239,239,0.93);
  width: 288px;
  height: 259px;
  margin-top:-30px;
  border-radius: 0 0 4px 4px;
}

.contractee-name {
  font-size: 14px;
  color: #38A3FF;
  padding-top: 70px;
}

.total {
  font-size: 11px;
  color: #38A3FF;
  font-weight: bold;
  margin-top: 20px;
}

.total-cost {
  font-size: 14px;
  color: #38FF9D;
  font-weight: bold;
  margin-top: 20px;
}