html, body {
  background: #F6F6F6;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  min-height: 100% !important;
  height: 100% !important;
}

#root {
  min-height: 100% !important;
  height: 100% !important;
}

#root>div {
  min-height: 100% !important;
  height: 100% !important;
}