.logo-div {
  background: #FFFFFF;
  box-shadow: 0 2px 20px 4px rgba(239,239,239,0.93);
  border-radius: 8px;
  height: 83px;
  width: 83px;
  margin-top: 33px;
  margin-bottom: 25px;
}

.logo {
  height: 75px;
  width: 75px;
  padding: 7px;
}

.business-name {
  font-size: 14px;
  color: #FF386B;
  margin-bottom: 35px;
}